.box_a {
    width: 100%;
}
/*this is what makes the red bar stay in place*/
.up_con_con {
    display: flex;
    align-items: center;
    position: relative;
}

.left_line_a {
    border: 1px solid var(--dr);
    background-color: var(--dr);
    padding: 0px 24.20px;
    height: 88vh;
}

.left_line_b {
    border: 1px solid var(--w);
    background-color: var(--w);
    padding: 0px 24.20px;
    height: 88vh;
}

.con_img img{
    width: 100%;
    height: 100%;
    margin-bottom: -2px;
}

.con_img {
    height: 56vh;
}
.box_tit_a {
    border: 1px solid var(--w);
    background-color: var(--w);
    color: var(--dr);
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.box_tit_b {
    border: 1px solid var(--dr);
    background-color: var(--dr);
    color: var(--w);
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.up_container {
    /* border: 1px solid red; */
    width: 60vw;
    margin: 1rem auto;
}

.con_content {
    background-color: var(--w);
    margin: 0rem auto;
    /* border: 1px solid gold; */
}

.con_txt {
    border: 1px solid var(--dr);
    height: 9.25rem;
    margin-top: -2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--dr);
}

.con-up-stop {
    width: 28vw;
    color: var(--dr);
    background-color: var(--w);
    border: 1px solid var(--w);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    padding: 1rem 2.5rem;
}

.con_img_w {
    height: 70vh;
    width: 100%;
    margin-bottom: 2.5rem;
}

.con_img_w img{
    width: 100%;
    height: 100%;
}

.con_h_w {
    color: var(--dr);
    margin: 2rem 0rem 1rem 0rem;
}

.con_txt_w {
    color: var(--dr);
}

.con_btn_box_w {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto 0rem auto;
    width:  20rem;
}

.con_btn_box_w_b {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto 0rem auto;
    width:  20rem;
}


@media screen and (max-width: 1000px) {
    .box_a {
        width: 100%;
    }
    /*this is what makes the red bar stay in place*/
    .up_con_con {
        display: flex;
        align-items: center;
        position: relative;
    }
    
    .left_line_a {
        border: 1px solid var(--dr);
        background-color: var(--dr);
        padding: 0px 24.20px;
        height: 88vh;
        display: none;
    }
    
    .left_line_b {
        border: 1px solid var(--w);
        background-color: var(--w);
        padding: 0px 24.20px;
        height: 88vh;
        display: none;
    }
    
    .con_img {
        height: 32vh;
    }

    .con_img img{
        width: 100%;
        height: 100%;
        margin-bottom: -2px;
    }

    .box_tit_a {
        border: 1px solid var(--w);
        background-color: var(--w);
        color: var(--dr);
        width: 100%;
        height: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    }
    
    .box_tit_b {
        border: 1px solid var(--dr);
        background-color: var(--dr);
        color: var(--w);
        width: 100%;
        height: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    }
    
    .up_container {
        /* border: 1px solid red; */
        width: 50rem;
        margin: 1rem auto;
    }
    
    .con_content {
        background-color: var(--w);
        margin: 0rem auto;
        /* border: 1px solid gold; */
    }
    
    .con_txt {
        border: 1px solid var(--dr);
        height: 9.25rem;
        margin-top: -2px;
        text-align: center;
    }

    .up_case {
        /* border: 1px solid red; */
        width: fit-content;
        margin: 0rem auto;
    }

    .con-up-stop {
        width: 68vw;
    }

    .con_img_w {
        height: 32vh;
        width: 100%;
        margin-bottom: 2.5rem;
    }

    .con_h_w {
        color: var(--dr);
        margin: 2rem 0rem 1rem 0rem;
        text-align: center;
    }
    
    .con_txt_w {
        color: var(--dr);
        text-align: center;
    }

    .con_btn_box_w {
        display: flex;
        justify-content: space-between;
        width: 16rem;
    }

    .con_btn_box_w_b {
        display: flex;
        justify-content: space-between;
        width: 16rem;
    }
}