@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

:root {
  --w: #fbfbfb;
  --dr: #822e27;
  --bg: #e9e9e9;
  --b: #6CA2E3;
}

* {
    font-family: "Roboto Flex";
    padding: 0;
    margin: 0;
  }
  body {
    background-color: var(--bg);
    overflow-x: hidden;
  }

a {
    text-decoration: none;
    color: var(--dr);
}

li {
  list-style-position: inside;
}

.paper-holder {
  width: 90vw;
  margin: 3.6rem auto;
  border: 1px solid transparent;
}

.page-holder-title {
  margin: 1rem 0rem;
  line-height: 2.5rem;
}

.page-holder-sub-title {
  margin: 1rem 0rem;
}

.doc-owner-btn {
  width: 22.5rem;
  display: flex;
  justify-content: center;
  margin: 0rem auto;
}


.con-holder {
  width: 90vw;
  margin: 10rem auto;
  /* border: 1px solid red; */
  overflow-x: hidden;
}

.con-holder-envelope {
  width: 80vw;
  margin: 5rem auto 10rem auto;
  /* border: 1px solid red; */
  overflow-x: hidden;
}

.con-holder-contact {
  width: 90vw;
  margin: 5rem auto;
  /* border: 1px solid red; */
}

.con-holder-explore {
  width: 100vw;
  margin: 0rem auto;
  /* border: 1px solid red; */
  overflow-x: hidden;
}

.con-holder-explore-t {
  width: 90vw;
  margin: 5rem auto 1rem auto;
  overflow-x: hidden;
}

.con-holder-tour-box {
  border: 1px solid transparent;
  width: 90vw;
  margin: 0rem auto 0rem auto;
  overflow-x: hidden;
}

.con-holder-slider {
  border: 1px solid transparent;
  width: 100vw;
  margin: -1.5rem 0rem 0rem 0rem;
}

.con-holder-title-slider {
  padding: 1.5rem 0rem 2rem 0rem;
  color: var(--dr);
}

.con-holder-title {
  padding: 2rem 0rem;
  color: var(--dr);
}

.b-btn {
  color: var(--w);
  font-weight: 500;
  background-color: var(--b);
  border: 2px solid var(--w);
  padding: 0.5rem 1rem;
  border-radius: 0;
}

.w-btn{
  color: var(--b);
  font-weight: 500;
  background-color: var(--w);
  border: 2px solid var(--b);
  padding: 0.5rem 1rem;
  border-radius: 0;
}

.b-bg-spread_a {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#0000ff00, #00ffff03), url('../assets/tour_box_l.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  overflow-x: hidden;
}


.b-bg-spread_b {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#0000ff00, #00ffff03), url('../assets/siteDesignBlue.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  margin: 0rem 0rem 10rem 0rem;
  overflow-x: hidden;
}

.btn-pos-r {
  display: flex;
  justify-content: flex-end;
}