.slider {
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.slides {
    width: 500%; /*This line makes all the images wide enough for the slider*/
    height: 70vh;
    display: flex;
}

.slides input{  /*This is to remove the radio button*/
    display: none;
}

.slides img { /*Not sure what this does but changing the values does not affect anything*/
    width: 400px;
    height: 70vh;
}

.slide {
    width: 20%;
    transition: 0.5s;
}

.slide img {  /*This affects the actual size of the image*/
    width: 100%;
    height: 70vh;
}

/* css for manual slide navigation */

.navigation-manual { /*This here is to define the container for the slider circles and it is the same width as the slider (800px)*/
    position: absolute;
    width: 50vw;
    margin: 2.05rem auto 0rem auto;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.nav-man {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.manual-btn { /*This is what the outline of the circles is controlled by*/
    border: 2.4px solid var(--w);
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.manual-btn:not(:last-child) { /*To add margin to all the circles except for the last one*/
    margin-right: 40px;
}

.manual-btn:hover {
    background: var(--b);
}

#radio1:checked ~ .first { /*Don't play with these values they cause a bug*/
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 50vw;
    justify-content: center;
    margin: calc(70.7vh ) auto 0rem auto;
    /* border: 1px solid gold; */
}

.nav-auto {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.navigation-auto div {
    background-color: var(--dr);
    border: 2.4px solid var(--w);
    padding: 8px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .nav-auto .navigation-auto .auto-btn1 {
    background: var(--b);
}
#radio2:checked ~ .nav-auto .navigation-auto .auto-btn2 {
    background: var(--b);
}
#radio3:checked ~ .nav-auto .navigation-auto .auto-btn3 {
    background: var(--b);
}
#radio4:checked ~ .nav-auto .navigation-auto .auto-btn4 {
    background: var(--b);
}

@media screen and (max-width: 500px) {
    .slider {
        width: 100%;
        height: 48vh;
        overflow: hidden;
    }
    
    .slides {
        width: 500%; /*This line makes all the images wide enough for the slider*/
        height: 48vh;
        display: flex;
    }
    
    .slides input{  /*This is to remove the radio button*/
        display: none;
    }
    
    .slides img { /*Not sure what this does but changing the values does not affect anything*/
        width: 400px;
        height: 48vh;
    }
    
    .slide {
        width: 20%;
        transition: 0.5s;
    }
    
    .slide img {  /*This affects the actual size of the image*/
        width: 100%;
        height: 48vh;
    }
    
    /* css for manual slide navigation */
    
    .navigation-manual { /*This here is to define the container for the slider circles and it is the same width as the slider (800px)*/
        position: absolute;
        width: 50vw;
        margin: 2.05rem auto 0rem auto;
        display: flex;
        justify-content: center;
        /* border: 1px solid red; */
    }
    
    .nav-man {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .manual-btn { /*This is what the outline of the circles is controlled by*/
        border: 2.4px solid var(--w);
        padding: 8px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s ease-in-out;
    }
    
    .manual-btn:not(:last-child) { /*To add margin to all the circles except for the last one*/
        margin-right: 40px;
    }
    
    .manual-btn:hover {
        background: var(--b);
    }
    
    #radio1:checked ~ .first { /*Don't play with these values they cause a bug*/
        margin-left: 0;
    }
    #radio2:checked ~ .first {
        margin-left: -20%;
    }
    #radio3:checked ~ .first {
        margin-left: -40%;
    }
    #radio4:checked ~ .first {
        margin-left: -60%;
    }
    
    .navigation-auto {
        position: absolute;
        display: flex;
        width: 50vw;
        justify-content: center;
        margin: calc(48.7vh ) auto 0rem auto;
        /* border: 1px solid gold; */
    }
    
    .nav-auto {
        position: absolute;
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    
    .navigation-auto div {
        background-color: var(--dr);
        border: 2.4px solid var(--w);
        padding: 8px;
        border-radius: 10px;
        transition: 1s;
    }
    
    .navigation-auto div:not(:last-child) {
        margin-right: 40px;
    }
    
    #radio1:checked ~ .nav-auto .navigation-auto .auto-btn1 {
        background: var(--b);
    }
    #radio2:checked ~ .nav-auto .navigation-auto .auto-btn2 {
        background: var(--b);
    }
    #radio3:checked ~ .nav-auto .navigation-auto .auto-btn3 {
        background: var(--b);
    }
    #radio4:checked ~ .nav-auto .navigation-auto .auto-btn4 {
        background: var(--b);
    }
}