 .schedule {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 120vw;
    height: 56vh;
} 

.schedule h2 {
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 24px;
    color: #fbfbfb;
    margin-top: -36px;
}

.big-t {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fbfbfb;
    margin-bottom: 36px;
}

.small-t {
    display: none;
}


@media screen and (max-width: 900px) {
    .tour {
        width: 100vw;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(#6CA2E3, #6ca2e346), url('../assets/tour_box_l.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }

    .big-t {
        display: none;
    }

    .small-t {
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: #fbfbfb;
        margin-bottom: 36px;
    }
}